.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f0f0f0;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  z-index: 99;
}

.nav-link {
  font-size: 12px;
  font-weight: 600;
  padding-left: 3px;
  padding-right: 3px;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  transition: color 0.3s;
  text-decoration: none;
  color: #95919f;
}
.nav-link-icon {
  font-size: 24px;
}

.nav-link.active {
  color: var(--color-primary);
}

@media (prefers-color-scheme: dark) {
  .bottom-nav {
    border-top: 1px solid #0f172a;
    background: #1e293b;
  }
}
