@import 'leaflet/dist/leaflet.css';

:root {
  --color-primary: #ff9556;
  --color-secondary: #ffc107;
  --color-text: #212121;
  --color-background: #f5f5f5;
  --color-gray: #ddd;
  --color-white: #fff;
}

.p-16 {
  padding: 16px;
}
.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.gap-16 {
  gap: 16px;
}

.m-0 {
  margin: 0;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mt-4 {
  margin-top: 4px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.mb-16 {
  margin-bottom: 16px;
}
.d-flex {
  display: flex;
}
.j-center {
  justify-content: center;
}
.f-column {
  flex-direction: column;
}
.a-center {
  align-items: center;
}
.j-between {
  justify-content: space-between;
}
.border-none {
  border: none !important;
}
.bg-none {
  background-color: transparent;
}
.w-100 {
  width: 100%;
}
.ant-tabs-ink-bar {
  background-color: #ff9556 !important;
}
